@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .button {
        @apply p-2 text-xs md:text-sm bg-gradient-to-b from-yellow-200 to-yellow-400 border border-yellow-300 rounded-sm capitalize focus:ring-2 focus:outline-none focus:ring-yellow-500 active:from-yellow-500 my-2;
    }
}
